.main-nav {
    position: fixed;
    top: 0;
    padding-right: var(--grid-offset-x);
    width: calc(var(--grid-size) * 3 + var(--grid-offset-x));
    right: 0;
    z-index: 100;
    display: flex;
    /* background: var(--ink); */
    background: var(--smoke-white);
    height: var(--grid-size);
    mix-blend-mode: difference;
    justify-content: space-around;
}
.nav-btn {
    appearance: none;
    background: none;
    border: none;
    /* color: var(--smoke-white); */
    color: var(--ink);
    font-family: var(--font-code);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: -0.02em;
    /* padding: 22px 26px; */
    cursor: pointer;
    position: relative;
    transition: opacity 0.15s;
    white-space: nowrap;
    /* padding: 0;
    margin: 0; */
}

.nav-btn::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: -5px;
    right: -5px;
    width: auto;
    height: 1px;
    background: var(--smoke-white);
    opacity: 0;
    transition: opacity 0.2s;
    mix-blend-mode: difference;
}

.nav-btn--active::after {
    opacity: 1;
}

.nav-btn:hover:not(.nav-btn--active) {
    opacity: 0.55;
}
